.grid .block { min-height: 90px; padding: 1em 2em; }
.fa-layers .fa-twitter { color: #4696D1; }
.fa-layers .fa-pinterest { color: #C62421; }
.fa-layers .fa-facebook { color: #3b5998; }
.fa-layers .fa-instagram { color: #9b6954; }
.fa-layers .fa-circle { color: #e4e4e4; }
