<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body role="document">
  <div class="p-3 m-3 card fixed middle left">
		<h3><span class="fa-layers fa-fw fa-2x">
			<i class="fas fa-calendar"></i>
			<span class="fa-layers-text fa-inverse todays-date" data-fa-transform="shrink-8 down-3" style="font-weight:900">XX</span>
		</span></h3>
	</div>

	<div class="p-3 m-3 card fixed middle right bg-primary text-white theme-name"><h3>No Theme</h3></div>

  <div class="offcanvas-menu bg-secondary">
		<div class="offcanvas-menu-header clearfix">
			<button class="py-3 px-4 text-white menu-lock-toggle"><i class="fa fa-unlock"></i></button>
			<button class="float-right offcanvas-menu-toggle py-3 px-4 text-white"><i class="fa fa-times"></i></button>
		</div>
		{% include 'menu.html' %}
	</div>

  <div class="offcanvas-main-content">

    {% include 'header.html' %}

    {% include 'navbar.html' %}

    {% block body %} {% endblock body %}

    {% include 'footer.html' %}

  </div>

  <script src="dist/js/third_party/jquery.min.js"></script>
  <script type="text/javascript" src="dist/js/fontstrap.min.js"></script>
  <script type="text/javascript">
		$(document).ready(function() {
			$('.offcanvas-menu').offcanvasMenu();
			$('.full-screen-bg').fullScreenBackground();
			$('.navbar').keepOnScreen(); // Which is a combination of $('.navbar').keepAtTop(); and $('.navbar').keepAtBottom();
			$('[data-toggle="tooltip"]').tooltip();
			$('.card-img-top').imagePopOut();
			$('.card-img-top').zoomIn();
		});
	</script>

	<!-- GRID -->
	<script type="text/javascript">
		var randomInt = function (a = 0, b = 10) {
			return a + Math.floor(Math.random() * b);
		}

		var createDiv = function (num = 0) {
			var backgrounds = ['bg-primary','bg-secondary','bg-info','bg-light','bg-dark','bg-danger','bg-success','bg-warning'];
			return $('<div>').css({ 'height': randomInt(50, 300) + 'px', 'margin-bottom': '10px' }).addClass('list-item ' + backgrounds[num % 8]);
		}

		$(document).ready(function() {
			var align = function () {
				$('.uneven-list').alignBlocks({
					block: '.list-item',
					responsive: true,
					spaceBetween: 10
				});
			};

			var add = function (count = 1) {
				_.times(count, function (i) {
					$('.uneven-list').append(createDiv(i));
					align();
				});
			};

			add(20);

			$('.add').click(function() {
				add(10);
			})

			$(window).resize(function () {
				align();
			});
		});
	</script>

	<!-- THEMES -->
	<script type="text/javascript">
		var themes = [
			{
				"name":"No Theme",
				"file":""
			},
			{
				"name":"Ice Cream",
				"file":"fontstrap-ice-cream.min.css"
			},
			{
				"name":"Square",
				"file":"fontstrap-square.min.css"
			},
			{
				"name":"Neon",
				"file":"fontstrap-neon.min.css"
			},
			{
				"name":"Depth",
				"file":"fontstrap-depth.min.css"
			}
		];

		function createThemeDropdown(selector,themes) {
			var count = 0
			var html = "";
			var middle = Math.floor(themes.count / 2);

			_.each(themes, function(theme) {
				var name = theme.name;
				var file = theme.file;
				html += '<li><a href="#" class="theme-option nav-link" data-theme-name="' + name + '" data-theme-file="' + file + '">' + name + '</a></li>';
				html += '<li role="separator" class="divider"></li>';
				count++;
			});
			$(selector).append(html);
		}

		createThemeDropdown(".theme-menu",themes);

		$(document).ready(function () {
			$(".theme-option").click( function (e) {
				e.preventDefault();
				$('head link[theme="true"]').remove();
				var themeName = $(this).data("theme-name");
				var themeFile = $(this).data("theme-file");
				if ( themeFile !== null ) {
					$('head').append('<link rel="stylesheet" href="../dist/css/theme/' + themeFile + '" type="text/css" theme="true"/>')
				}
				if ( themeName !== null ) {
					$('.theme-name h3').text(themeName + ' Theme');
				}
			});
			var todaysDate = new Date;
			$('.todays-date').html(todaysDate.getDate());
		});
	</script>
</body>
</html>
