<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top fog50" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#top">Boot Straps</a>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li id="NavOne"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavOne" href="#collapseOne" class="local">Carousel <span class="fa fa-picture-o"></span></a></li>
      <li id="NavTwo"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavTwo" href="#collapseTwo" class="local">Panels <span class="fa fa-bullhorn"></span></a></li>
      <li id="NavThree"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavThree" href="#collapseThree" class="local">Thumbnails <i class="fa fa-picture-o"></i></a></li>
      <li id="NavFour"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavFour" href="#collapseFour" class="local">Social <span class="fa fa-phone"></span></a></li>
      <li id="NavFive"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavFive" href="#collapseFive" class="local">Progress <i class="fa fa-list"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal"><span class="fa fa-envelope"></span> Button</button></li>
      
      <li><a target="_blank" href="#">Link <span class="fa fa-globe"></span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DropDown <span class="fa fa-certificate"></span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a target="_blank" href="#"><span class="fa fa-user fa-fw"></span> Link</a></li>
          <li><a target="_blank" href="#"><span class="fa fa-plane fa-fw"></span> Link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>