    <div id="local-two" class="panel">
      <div class="panel-heading container">
        <div class="row">
          <div class="panel-title">
            <h1 class="text-center"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavTwo" href="#collapseTwo">Panels</a></h1>
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="panel panel-default panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-primary panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div><!-- /.col-sm-4 -->
              <div class="col-sm-4">
                <div class="panel panel-success panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-info panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div><!-- /.col-sm-4 -->
              <div class="col-sm-4">
                <div class="panel panel-warning panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-danger panel-white">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div><!-- /.col-sm-4 -->
            </div>
          </div>
        </div> <!-- panel-body -->
      </div> <!-- colapse -->
    </div> <!-- panel -->