<div id="local-three" class="panel">
  <div class="panel-heading container">
    <div class="row">
      <div class="panel-title">
        <h1 class="text-center"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavThree" href="#collapseThree">Thumbnails</a></h1>
      </div>
    </div>
  </div>
  <div id="collapseThree" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="img/thumbnails/walken-1.png"><img src="img/thumbnails/walken-1.png" alt="..."/></a>
              <div class="caption">
                <h3>Walking Boots</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <a href="http://placehold.it/1000&text=Thumbnail"><img src="http://placehold.it/1000&text=Thumbnail" alt="..."/></a>
              <div class="caption">
                <h3>Thumbnail Title</h3>
                <p><a href="javascript:void(0)" class="btn btn-success plusOne" role="button"><i class="fa fa-thumbs-o-up fa-2x"></i></a> <a href="javascript:void(0)" class="btn btn-danger minusOne" role="button"><i class="fa fa-thumbs-o-down fa-2x"></i></a></p>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div> <!-- panel-body -->
  </div> <!-- colapse -->
</div> <!-- panel -->