<div class="full-screen-bg half" data-image="img/wood.jpg">
  <div class="title">Half Screen Light Background Title</div>
  <div class="container pt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card bg-light p-4">
          <form action="#login">
            <div class="form-group row">
              <label class="col-4 text-right">Username</label>
              <div class="col-8"><input class="form-control" type="text" placeholder="fontstrap"/></div>
            </div>
            <div class="form-group row">
              <label class="col-4 text-right">Password</label>
              <div class="col-8"><input class="form-control" type="password" placeholder=""/></div>
            </div>
            <div class="form-group mb-0 text-right">
              <input class="btn btn-success" type="submit" value="Login"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  <!-- container -->
</div>
