<div id="local-four" class="panel">
  <div class="panel-heading container">
    <div class="row">
      <div class="panel-title">
        <h1 class="text-center"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavFour" href="#collapseFour">Social</a></h1>
      </div>
    </div>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">   
    <div class="panel-body">
      <div class="container">
        <div style="height: 50px;"></div>
        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href=".twitter" data-toggle="tab"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
            <li><a href=".facebook" data-toggle="tab"><i class="fa fa-facebook fa-lg"></i> Facebook</a></li>
            <li><a href=".instagram" data-toggle="tab"><i class="fa fa-instagram fa-lg"></i> Instagram</a></li>
            <li><a href=".pinterest" data-toggle="tab"><i class="fa fa-pinterest fa-lg"></i> Pinterest</a></li>
          </ul>
          <div style="height: 20px;"></div>
          <div class="row">
            <div class="tab-content col-sm-10 col-sm-offset-1 social-content">
              <div class="tab-pane active twitter">
                <div class="row">
                  <div class="col-sm-3 left"><a href="#"><i class="fa fa-twitter fa-5x"></i></a></div>
                  <div class="col-sm-9 right"><div class="inner-content">Twitter</div></div>
                </div>
              </div>
              <div class="tab-pane facebook">
                <div class="row">
                  <div class="col-sm-3 left"><a href="#"><i class="fa fa-facebook fa-5x"></i></a></div>
                  <div class="col-sm-9 right"><div class="inner-content">Facebook</div></div>
                </div>
              </div>
              <div class="tab-pane instagram">
                <div class="row">
                  <div class="col-sm-3 left"><a href="#"><i class="fa fa-instagram fa-5x"></i></a></div>
                  <div class="col-sm-9 right"><div class="inner-content">Instagram</div></div>
                </div>
              </div>
              <div class="tab-pane pinterest">
                <div class="row">
                  <div class="col-sm-3 left"><a href="#"><i class="fa fa-pinterest fa-5x"></i></a></div>
                  <div class="col-sm-9 right"><div class="inner-content">Pinterest</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- panel-body -->
  </div> <!-- colapse -->
</div> <!-- panel -->