<div class="full-screen-bg dark" data-image="img/boot.jpg">
  <h1 class="text-center pt-3 text-white">Image Popout</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 p-2">
        <div class="card p-2"><img class="card-img-top" src="http://www.nretnil.com/logo/na-logo-bw.jpg" alt="Black"></div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card p-2"><img class="card-img-top" src="http://www.nretnil.com/logo/na-logo-g.jpg" alt="Green"></div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card p-2"><img class="card-img-top" src="http://www.nretnil.com/logo/na-logo-b.jpg" alt="Blue"></div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card p-2"><img class="card-img-top" src="http://www.nretnil.com/logo/na-logo-r.jpg" alt="Red"></div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card">
          <img class="card-img-top" src="img/ice-cream.jpg" alt="Black">
          <div class="card-body">
            <p class="card-text">Nulla sollicitudin scelerisque, ante nunc ipsum donec nec dis vitae, ipsum tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card">
          <img class="card-img-top" src="img/landscape.jpg" alt="Green">
          <div class="card-body">
            <p class="card-text">Sed viverra augue tellus nulla donec arcu, ante nunc ipsum donec nec dis vitae, ipsum tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card">
          <img class="card-img-top" src="img/boot.jpg" alt="Blue">
          <div class="card-body">
            <p class="card-text">Tellus nulla sollicitudin scelerisque, scelerisque nunc ipsum donec nec dis vitae, ipsum tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="card">
          <img class="card-img-top" src="img/7-scoop.jpg" alt="Red">
          <div class="card-body">
            <p class="card-text">Ante nunc ipsum donec nec dis vitae, ipsum tempor.</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div>
