    <div id="local-one" class="panel">
      <div class="panel-heading container">
        <div class="row">
          <div class="panel-title">
            <h1 class="text-center"><a data-toggle="collapse" data-parent="#accordion" data-nav-active="NavOne" href="#collapseOne">Carousel</a></h1>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container">
            <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
                  <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                <div class="item active">
                  <img src="img/boot-1.png"/>
                  <div class="carousel-caption"></div>
                </div>
                <div class="item">
                  <img src="img/boot-2.png"/>
                  <div class="carousel-caption"></div>
                </div>
                <div class="item">
                  <img src="img/boot-3.png"/>
                  <div class="carousel-caption"></div>
                </div>
                <div class="item">
                  <img src="img/boot-4.png"/>
                  <div class="carousel-caption"></div>
                </div>
                <div class="item">
                  <img src="img/boot-5.png"/>
                  <div class="carousel-caption"></div>
                </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
                  </a>
            </div>
          </div>
        </div> <!-- panel-body -->
      </div> <!-- colapse -->
    </div> <!-- panel -->